.container {
    margin:50px 0;
}

.card {
    margin:0 2% !important;
    background:rgba(30,30,30,0.9) !important;
    color:white !important;
    text-align:center;
    border-radius:20px 20px 0 0 !important;
    margin-bottom:20px;
}

p {
    color:white !important;
}

.cifra {
    font-weight:bold !important;
}

.titulo {
    font-size:26px !important;
}

.infectados {
    border-bottom:10px solid rgba(0,0,255,0.5);
}

.recuperados {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.muertes {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

@media (max-width:770px) {
    .card {
        margin: 2% 0 !important;
    }
}