.container {
    margin:2%;
}

.card {
    margin:2% 2% !important;
    background:rgba(30,30,30,0.9) !important;
    color:white !important;
    text-align:center;
    border-radius:20px 20px 0 0 !important;
}

p {
    color:white !important;
}

.cifra {
    font-weight:bold !important;
}

.titulo {
    font-size:26px !important;
}

.infectados {
    border-bottom:10px solid rgba(31, 97, 179,0.5);
}

.recuperados {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.muertes {
    border-bottom: 10px solid rgba(255, 30, 0, 0.5);
}

.activos {
    border-bottom:10px solid rgba(242, 128, 6,0.5);
}

@media (max-width:770px) {
    .card {
        margin: 2% 0 !important;
    }
    .activos {
        margin: 2% 0 !important;
    }
}