body {
    background-color:rgba(20,20,20,1);
    color:white !important;
}

.container {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.imagen {
    width:200px;
    margin-top:50px;
}

@media (max-width:770px) {
    .container {
        margin:0 10%;
    }

    .image {
        width:100%;
    }
}