body {
    background-color:rgba(20,20,20,1);
    color:white !important;
}


.container {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.menu {
    font-size:20px !important;
}

.menu:hover {
    color:yellow !important;
    transition:all 1s;
}

.titulo {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size:32px;
    text-transform:uppercase;
    text-align:center !important;
    margin-bottom:0px;
}

.chile {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size:64px;
    text-transform:uppercase;
    text-align:center !important;
    margin-top:0px;
    margin-bottom:0px;
}

.fuente {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 16px;
    text-align:center !important;
    margin-bottom:0px;
}

.enlacefuente {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 16px;
    text-decoration:none !important;
    color:white !important;
}

.imagen {
    width:150px;
    margin-top:50px;
}

@media (max-width:770px) {
    .container {
        margin:0 10%;
    }

    .image {
        width:100%;
    }
    .fuente {
        margin:2% 0;
    }
}